h1{
  font-size:300%;
  color:purple;
} 
tr:nth-child(even) {
    background-color: #D6EEEE;
  }

table, th, td {
    border: 1px solid pink;
  }

  a:link, a:visited {
    background-color: pink;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: pink;
  }
